//
   Created by erikxu on 2/16/16.

extends layout

block content
    form(method='POST')
        legend Customize Images for Tablet

        <img src="https://s-media-cache-ak0.pinimg.com/736x/d6/b7/51/d6b751d75c50b98be47a56bd11106334.jpg" alt="Health Care Logo" style="width:304px;height:300px;margin:0px">
        <img src="http://carestruck.org/wp-content/uploads/2014/08/Smart-Apps-Mean-Smart-Patients-3.jpg" alt="Health Care Background" style="width:500px;height:228px;">

        <br>
        <br>
        button.btn.btn-primary(type='submit') Upload Icon
        button.btn.btn-primary(type='submit') Upload Background Image


        <br>
        <br>
        <br>
        <a href="/">Skip All</a>
        button.btn.btn-primary(type='submit') Next

        <br>
        <a href="/">Cancel</a> <br>